/* RESETS */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
  color: var(--white);
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* font-size: calc(0.75em + 1vw); */
  /* font-size: calc(15px + 0.390625vw); */
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}