/*****************************
CONTACT PAGE
******************************/

.contact-page {
  font-size: 1.6rem;
  padding: 4rem 3rem;
  min-height: 60vh;
}

.contact-title {
  height: auto;
  padding: 4rem 0;
}

.contact-wrapper {
  display: flex;
  padding: 0;
  gap: 5rem;
}

.contact-page .btn {
  background-color: var(--accent);
  border-color: var(--accent);
}

.contact-page .btn:hover {
  background-color: var(--white);
  border-color: var(--accent);
}

.call-container {
  margin-bottom: 2rem;
}

.call-container h2 {
  font-size: 5rem;
  font-weight: var(--fw-400);
  letter-spacing: 4px;
}

a.phone-number {
  font-size: 3rem;
  font-weight: var(--fw-400);
  color: var(--accent);
}

@media screen and (max-width: 800px) {
  .contact-wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-page .btn {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
  }
}

.contact-form-container {
  flex: 1 1;
}

.contact-form-container p {
  margin-bottom: 3.5rem;
}

.contact-info-container {
  flex: 1 1;
}
