/*******************************
Photo Gallery Page Style Sheet
*******************************/
.photo-grid {
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 3rem;
    background-color: var(--grey);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    gap: 2rem;
  }

  @media screen and (max-width: 480px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 2rem;
    }
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    opacity: 0.7;
    transition: all 500ms;
    overflow: hidden;
    object-fit: cover;
  }
  
  .card:hover {
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.35rem 1.175rem, rgba(2, 8, 20, 0.1) 0px 0.175rem 0.5rem;
    transform: translateY(-3px) scale(1.03);
    opacity: 1;
    cursor: pointer;
  }
  
  @media screen and (min-width: 950px) {
    .tall {
      grid-row: span 2 / auto;
    }
    
    .wide {
      grid-column: span 2 / auto;
    }
  }

  @media screen and (min-width: 700px) {
    .tall {
      grid-row: span 2 / auto;
    }
    
  }
  