/* FONT IMPORT */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* VARIABLES */
:root {
  --black: #141414;
  --white: #fdfdfd;
  --faded-white: rgba(255, 255, 255, 0.5);
  --grey: #dfdfdf;
  --accent: #1a9bf0;
  /* --yellow: #eef112; */
  /* --yellow: #f7d008; */
  /* --yellow: #ecff00; */
  --yellow: #f7d207;
}

/* RESETS */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
  color: var(--white);
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* font-size: calc(0.75em + 1vw); */
  /* font-size: calc(15px + 0.390625vw); */
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a,
a:visited,
a:hover,
a:link {
  color: var(--white);
}

/* UTLITY CLASSES */
.bold {
  font-weight: 700;
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.bg-accent {
  background-color: var(--accent);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.text-accent {
  color: var(--accent);
}

.text-yellow {
  color: var(--yellow);
}

.text-oswald {
  font-family: 'Oswald', sans-serif;
}

.text-inter {
  font-family: 'Inter', sans-serif;
}

.light {
  font-weight: 300;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.current {
  color: var(--white);
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.75rem;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  color: var(--white);
  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--white);
  color: var(--accent);
  border: 2px solid var(--white);
}

.inverse {
  background-color: transparent;
  color: var(--accent);
}

.inverse:hover {
  background-color: var(--accent);
  color: var(--white);
  border: 2px solid var(--accent);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.subheading {
  font-size: 1.3rem;
}

.hidden {
  display: none;
}

.title-section {
  background-color: var(--faded-white);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section h1 {
  font-size: 8.6rem;
  color: var(--black);
}




/*******************
HOME PAGE 
*******************/
.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url(../images/truck-1-min.jpg);
  min-height: 85vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .text {
  margin: 0 auto;
  padding: 2rem 2.5% 0;
  max-width: 1600px;
  width: 100%;
  height: 80%;
  letter-spacing: 4px;
}

@media screen and (max-width: 500px) {
  .hero .text {
    padding: 0 1rem 0;
  }
}

.hero h1 {
  font-size: 10rem;
  font-weight: 400;
}

.hero h2 {
  font-size: 5rem;
  font-weight: 300;
}

@media screen and (max-width: 770px) {
  .hero h1 {
    font-size: 8rem;
  }

  .hero h2 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 6rem;
  }

  .hero h2 {
    font-size: 2.6rem;
  }
}

.button-container {
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 500px) {
  .button-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* ABOUT SECTION */
.about,
.services {
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 3rem;
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .about,
  .services {

    font-size: 1.6rem;
  }
}

.about {
  background-image: url(../images/truck-2-min.jpg);
}

.text-box {
  background-color: rgba(20, 20, 20, 0.9);
  align-self: flex-start;
  padding: 2rem;
  font-weight: 300;
}

.text-box h2 {
  margin-bottom: 0.75rem;
  font-size: 3.6rem;
}

@media screen and (max-width: 500px) {
  .text-box h2 {
    font-size: 3rem;
  }
}

.text-box p {
  max-width: 48ch;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

.about .text-box p {
  margin-bottom: 6rem;
}

.text-box .btn {
  display: inline-block;
  font-size: 1.6rem;
}

/* SERVICES SECTION */
.services {
  background-image: url(../images/truck-10-min.jpg);
}

.services h3 {
  font-size: 3rem;
}

@media screen and (max-width: 500px) {
  .services h3 {
    font-size: 2.5rem;
  }
}

.services .text-box p {
  margin-bottom: 1.5rem;
}

.services-list {
  list-style-position: inside;
  margin-bottom: 2rem;
}

/* CONTACT SECTION */
.contact {
  color: var(--black);
  padding: 9rem 3rem;
  font-size: 1.6rem;
}

.contact h2 {
  font-size: 5.6rem;
  text-transform: uppercase;
}

.contact p {
  margin-bottom: 3.5rem;
}

.contact-form {
  max-width: 800px;
}

.form-group {
  margin-bottom: 2rem;
  position: relative;
}

.contact-label,
.message-label {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  /* font-size: 1.6rem; */
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 0.2s ease-in;
}

.input,
.message {
  padding-bottom: 1rem;
  /* font-size: 0.6rem; */
  border: none;
  border-bottom: 1px solid var(--black);
}

.input:focus,
.message:focus {
  outline: transparent;
}

.input:focus ~ label,
.input:valid ~ label,
.message:focus ~ label,
.message:valid ~ label {
  color: var(--black);
  top: -20px;
  font-size: 1.2rem;
}

.contact-btn {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
  transition: all 0.2s ease-in-out;
}

.contact-btn:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  cursor: pointer;
}



